In [1]:
import pandas as pd
from biopandas.pdb import PandasPdb

In [2]:
AT14 = ['4YAY','4ZUD']
AT16 = ['6DO1','6OS0','6OS1','6OS2']
arr = ['6TKO','6U1N','6UP7','6PWC']

In [3]:
total = pd.DataFrame()
for pdb_code in AT14+AT16:
    ppdb=PandasPdb().read_pdb(f'/home/kestr/AT1/pdb/1_BW/AT1/{pdb_code}_GPCRDB.pdb')
    atoms = ppdb.df['ATOM']
    part = atoms.groupby(by = ['chain_id','residue_number']).first().reset_index()[['chain_id','residue_number','residue_name','b_factor']]
    part['pdb_code'] = pdb_code
    total = pd.concat([total,part])
# для общности переименуем b_factor, для тех, у кого нет BW на номер остатка
total.loc[(total.b_factor>46) ,'b_factor']= total[total.b_factor>46]['residue_number']
# проверка того, что по BW отличаются у разных моделей только эти остатки и остатки на краю спиралей
intersect2 = total[total.chain_id=='T'].groupby(['b_factor','residue_name']).count().reset_index()
intersect2[intersect2.pdb_code<4].sort_values(by = 'pdb_code', ascending=False)

     b_factor residue_name  chain_id  residue_number  pdb_code
162      6.28          PRO         3               3         3
260     16.00          ASP         3               3         3
327   1271.00          ILE         3               3         3
326   1270.00          ILE         3               3         3
315    188.00          ASN         3               3         3
314    187.00          GLN         3               3         3
313    186.00          SER         3               3         3
328   1272.00          ARG         3               3         3
259     15.00          SER         2               2         2
256     14.00          ASN         2               2         2
245      9.00          ASP         2               2         2
246     10.00          GLY         2               2         2
322    272.00          ARG         2               2         2
321    271.00          ILE         2               2         2
320    270.00          ILE         2               2         2
244      8.59          LYS         2               2         2
248     12.00          ILE         2               2         2
255     13.00          LEU         2               2         2
261     16.00          SER         2               2         2
325    371.00          ARG         1               1         1
324    370.00          ILE         1               1         1
323    369.00          ILE         1               1         1
319    227.00          ASP         1               1         1
309    180.00          CYS         1               1         1
292     45.39          ILE         1               1         1
291     44.79          TYR         1               1         1
290     44.18          ARG         1               1         1
288     42.83          GLU         1               1         1
287     42.80          VAL         1               1         1
286     40.09          ASP         1               1         1
285     39.92          VAL         1               1         1
284     36.57          ALA         1               1         1
283     35.61          TYR         1               1         1
274     33.64          GLY         1               1         1
273     32.03          PHE         1               1         1
289     42.89          THR         1               1         1

In [4]:
for pdb_code in arr:
    ppdb=PandasPdb().read_pdb(f'/home/kestr/AT1/pdb/1_BW/arr/{pdb_code}.pdb')
    atoms = ppdb.df['ATOM']
    part = atoms.groupby(by = ['chain_id','residue_number']).first().reset_index()[['chain_id','residue_number','residue_name','b_factor']]
    part['pdb_code'] = pdb_code
    total = pd.concat([total,part])
# проверка того, что у аррестинов номера отличаются только у крайних остатков
intersect = total[total.chain_id=='A'].groupby(by='residue_number').count()
intersect[intersect.pdb_code<4].sort_values(by = 'pdb_code', ascending=False)

                chain_id  residue_name  b_factor  pdb_code
residue_number
339                    3             3         3         3
331                    3             3         3         3
332                    3             3         3         3
333                    3             3         3         3
334                    3             3         3         3
335                    3             3         3         3
336                    3             3         3         3
337                    3             3         3         3
338                    3             3         3         3
7                      3             3         3         3
340                    3             3         3         3
356                    3             3         3         3
358                    2             2         2         2
359                    2             2         2         2
6                      2             2         2         2
357                    2             2         2         2
360                    1             1         1         1
361                    1             1         1         1
362                    1             1         1         1
363                    1             1         1         1
364                    1             1         1         1

In [5]:
total['chain_id']=total['chain_id'].replace({'T':'R'})

In [6]:
total.to_csv('/home/kestr/AT1/data/model_res_dict.csv', index=False)