In [148]:
import pandas as pd
import numpy as np

In [149]:
# выводит таблицу в таком формате: столбцы - имя gpcr, строки - BW этих gpsr(или номер остатка, для тех, у кого нет BW), а значения - минимальный номер остатка аррестина.
def table(repulsion,total):
    repulsion_R = (repulsion[repulsion.chain == 'R']
                   .merge(total[total.chain_id == 'R'], left_on=['gpcr','res'],right_on=['pdb_code','residue_number'])
                   )
    repulsion_A = (repulsion[repulsion.chain == 'A']
                   .merge(total[total.chain_id == 'A'], left_on=['arr','res'],right_on=['pdb_code','residue_number']))
    merged_repulsion = repulsion_R.merge(repulsion_A,on=['gpcr','arr','Cluster_ID'])
    return merged_repulsion.pivot_table(values='res_y',index='b_factor_x',columns='gpcr',aggfunc=np.min).astype('Int32').astype('str').replace('<NA>', '')

In [150]:
AT14 = ['4YAY','4ZUD']
AT16 = ['6DO1','6OS0','6OS1','6OS2']
arr = ['6TKO','6U1N','6UP7','6PWC']

In [151]:
hyd_aci = pd.read_csv('/home/kestr/AT1/data/hydrogen_contacts.csv')
repulsion = pd.read_csv('/home/kestr/AT1/data/charge_repulsion.csv')
other_contacts = pd.read_csv('/home/kestr/AT1/data/contacts_ion_and_hydrophobic.csv')
total = pd.read_csv('/home/kestr/AT1/data/model_res_dict.csv')
hydrophob = other_contacts[other_contacts.type=='PH'].drop(columns=['type'])
ionic = other_contacts[other_contacts.type=='IO'].drop(columns=['type'])

In [152]:
# водородные связи
table(hyd_aci,total)

gpcr       4YAY 4ZUD 6DO1 6OS0 6OS1 6OS2 6TKO 6U1N 6UP7
b_factor_x
2.36                                                 65
2.37         66   66   66   66   66   66   66
2.39                                       66
3.50         69   67   66   67   69   69   69
4.38        135  285                      285
4.39                                      134
5.68                                       77
6.28                        76   76   76
6.29                                                 71
6.30         67   67                                 71
6.31         67   69
6.32         68   67
6.33         69   69
6.34         69   69
6.35         70   70
6.36         71
7.56                   68   68   68   68
8.47                             69   69
8.48                                  71
8.49                                                285
8.52        133       134            134
12.49                                      67
12.51       135  136  136  136  136  136  136
34.50       249  249             63   63
34.51       245        63   63  243  243
34.52       286       247  248  249  249       249
34.53       130
34.54       285        65   65   65   65   63
34.55       132       285
34.56       133
34.57       285        65   65   65   65
96.38                                               285
123.62                                               76

In [155]:
# стерическое отталкивание
table(repulsion,total)

gpcr       4YAY 4ZUD 6DO1 6OS0 6OS1 6OS2
b_factor_x
3.50         70   70        70   70   70
6.30         67   68
6.31         68   68
6.32         68   68
6.33         69   69
6.34         71   71
6.35         71   71
6.36         70   70
7.56                        69
8.48                                  70
34.53       246
34.54       285        65   65   65   65
34.55       285

In [156]:
# гидрофобное притяжение
table(hydrophob,total).dropna(subset=AT14+AT16,how='all').dropna(subset=arr,how='all')

gpcr       4YAY 4ZUD 6DO1 6OS0 6OS1 6OS2 6PWC 6TKO 6U1N 6UP7
b_factor_x
1.40                                            70
1.43                                            70
2.43                        70   70   70
2.64                                            70
2.67                                            70
3.23                                            71
3.46                             70   70
3.54         68   68   68   68   70   68                  68
3.55                             68
5.61         68   73   70   70   68   68
5.64                                            71
5.65         68   68   68   68   68   68
5.66                                            71
5.67                                            71
5.69                                       73
5.70                                            71
6.27                                            71
6.28                                            71
6.33         70   70   68   68   68   68
6.36         70   70   70   68   68   68
6.37         70   70   70   68   68   68
6.40                   70        68   70
7.56         70        68   68   68   68
34.51                                               129
45.50                                           71

In [157]:
# ионное притяжение
table(ionic,total)

gpcr       4ZUD 6OS0 6OS1 6OS2 6TKO
b_factor_x
3.50         69   69   69   69   69
12.49                            67