In [244]:
import pandas as pd
import numpy as np

In [245]:
# выводит таблицу в таком формате: столбцы - имя gpcr, строки - BW этих gpsr(или номер остатка, для тех, у кого нет BW), а значения - минимальный номер остатка аррестина.
def table(repulsion,total):
    repulsion_R = repulsion[repulsion.chain == 'R'].merge(total[total.chain_id == 'R'], left_on=['gpcr','res'],right_on=['pdb_code','residue_number']).drop(columns=['residue_number','chain_id'])
    repulsion_A = repulsion[repulsion.chain == 'A'].merge(total[total.chain_id == 'A'], left_on=['arr','res'],right_on=['pdb_code','residue_number']).drop(columns=['residue_number','chain_id'])
    merged_repulsion = repulsion_R.merge(repulsion_A,on=['gpcr','arr','Cluster_ID'])
    return merged_repulsion.pivot_table(values='res_y',index='b_factor_x',columns='gpcr',aggfunc=np.min)

In [246]:
AT14 = ['4YAY','4ZUD']
AT16 = ['6DO1','6OS0','6OS1','6OS2']
arr = ['6TKO','6U1N','6UP7','6PWC']

In [247]:
hyd_aci = pd.read_csv('/home/kestr/AT1/data/hydrogen_contacts.csv')
repulsion = pd.read_csv('/home/kestr/AT1/data/charge_repulsion.csv')
other_contacts = pd.read_csv('/home/kestr/AT1/data/contacts_ion_and_hydrophobic.csv')
total = pd.read_csv('/home/kestr/AT1/data/model_res_dict.csv')
hydrophob = other_contacts[other_contacts.type=='PH'].drop(columns=['type'])
ionic = other_contacts[other_contacts.type=='IO'].drop(columns=['type'])

In [248]:
# водородные связи
table(hyd_aci,total)

gpcr         4YAY   4ZUD   6DO1   6OS0   6OS1   6OS2   6TKO   6U1N   6UP7
b_factor_x
2.36          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN   65.0
2.37         66.0   66.0   66.0   66.0   66.0   66.0   66.0    NaN    NaN
2.39          NaN    NaN    NaN    NaN    NaN    NaN   66.0    NaN    NaN
3.50         69.0   67.0   66.0   67.0   69.0   69.0   69.0    NaN    NaN
4.38        135.0  285.0    NaN    NaN    NaN    NaN  285.0    NaN    NaN
4.39          NaN    NaN    NaN    NaN    NaN    NaN  134.0    NaN    NaN
5.68          NaN    NaN    NaN    NaN    NaN    NaN   77.0    NaN    NaN
6.28          NaN    NaN    NaN   76.0   76.0   76.0    NaN    NaN    NaN
6.29          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN   71.0
6.30         67.0   67.0    NaN    NaN    NaN    NaN    NaN    NaN   71.0
6.31         67.0   69.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6.32         68.0   67.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6.33         69.0   69.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6.34         69.0   69.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6.35         70.0   70.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6.36         71.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7.56          NaN    NaN   68.0   68.0   68.0   68.0    NaN    NaN    NaN
8.47          NaN    NaN    NaN    NaN   69.0   69.0    NaN    NaN    NaN
8.48          NaN    NaN    NaN    NaN    NaN   71.0    NaN    NaN    NaN
8.49          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  285.0
8.52        133.0    NaN  134.0    NaN    NaN  134.0    NaN    NaN    NaN
12.49         NaN    NaN    NaN    NaN    NaN    NaN   67.0    NaN    NaN
12.51       135.0  136.0  136.0  136.0  136.0  136.0  136.0    NaN    NaN
34.50       249.0  249.0    NaN    NaN   63.0   63.0    NaN    NaN    NaN
34.51       245.0    NaN   63.0   63.0  243.0  243.0    NaN    NaN    NaN
34.52       286.0    NaN  247.0  248.0  249.0  249.0    NaN  249.0    NaN
34.53       130.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
34.54       285.0    NaN   65.0   65.0   65.0   65.0   63.0    NaN    NaN
34.55       132.0    NaN  285.0    NaN    NaN    NaN    NaN    NaN    NaN
34.56       133.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
34.57       285.0    NaN   65.0   65.0   65.0   65.0    NaN    NaN    NaN
96.38         NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  285.0
123.62        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN   76.0

In [249]:
# очистка от контактов, которых нет у AT1
table(hyd_aci,total).dropna(subset=AT14+AT16)

gpcr         4YAY   4ZUD   6DO1   6OS0   6OS1   6OS2   6TKO  6U1N  6UP7
b_factor_x
2.37         66.0   66.0   66.0   66.0   66.0   66.0   66.0   NaN   NaN
3.50         69.0   67.0   66.0   67.0   69.0   69.0   69.0   NaN   NaN
12.51       135.0  136.0  136.0  136.0  136.0  136.0  136.0   NaN   NaN

In [250]:
# очистка от непересекающихся контактов
table(hyd_aci,total).dropna(subset=AT14+AT16,how='all').dropna(subset=list(set(arr)-set(['6PWC'])),how='all')

gpcr         4YAY   4ZUD   6DO1   6OS0   6OS1   6OS2   6TKO   6U1N  6UP7
b_factor_x
2.37         66.0   66.0   66.0   66.0   66.0   66.0   66.0    NaN   NaN
3.50         69.0   67.0   66.0   67.0   69.0   69.0   69.0    NaN   NaN
4.38        135.0  285.0    NaN    NaN    NaN    NaN  285.0    NaN   NaN
6.30         67.0   67.0    NaN    NaN    NaN    NaN    NaN    NaN  71.0
12.51       135.0  136.0  136.0  136.0  136.0  136.0  136.0    NaN   NaN
34.52       286.0    NaN  247.0  248.0  249.0  249.0    NaN  249.0   NaN
34.54       285.0    NaN   65.0   65.0   65.0   65.0   63.0    NaN   NaN

In [251]:
# водородное отталкивание
table(repulsion,total)

gpcr         4YAY  4ZUD  6DO1  6OS0  6OS1  6OS2
b_factor_x
3.50         70.0  70.0   NaN  70.0  70.0  70.0
6.30         67.0  68.0   NaN   NaN   NaN   NaN
6.31         68.0  68.0   NaN   NaN   NaN   NaN
6.32         68.0  68.0   NaN   NaN   NaN   NaN
6.33         69.0  69.0   NaN   NaN   NaN   NaN
6.34         71.0  71.0   NaN   NaN   NaN   NaN
6.35         71.0  71.0   NaN   NaN   NaN   NaN
6.36         70.0  70.0   NaN   NaN   NaN   NaN
7.56          NaN   NaN   NaN  69.0   NaN   NaN
8.48          NaN   NaN   NaN   NaN   NaN  70.0
34.53       246.0   NaN   NaN   NaN   NaN   NaN
34.54       285.0   NaN  65.0  65.0  65.0  65.0
34.55       285.0   NaN   NaN   NaN   NaN   NaN

In [252]:
# гидрофобное притяжение
table(hydrophob,total)

gpcr        4YAY  4ZUD  6DO1  6OS0  6OS1  6OS2  6PWC  6TKO   6U1N  6UP7
b_factor_x
1.40         NaN   NaN   NaN   NaN   NaN   NaN   NaN  70.0    NaN   NaN
1.43         NaN   NaN   NaN   NaN   NaN   NaN   NaN  70.0    NaN   NaN
2.43         NaN   NaN   NaN  70.0  70.0  70.0   NaN   NaN    NaN   NaN
2.64         NaN   NaN   NaN   NaN   NaN   NaN   NaN  70.0    NaN   NaN
2.67         NaN   NaN   NaN   NaN   NaN   NaN   NaN  70.0    NaN   NaN
3.23         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
3.46         NaN   NaN   NaN   NaN  70.0  70.0   NaN   NaN    NaN   NaN
3.54        68.0  68.0  68.0  68.0  70.0  68.0   NaN   NaN    NaN  68.0
3.55         NaN   NaN   NaN   NaN  68.0   NaN   NaN   NaN    NaN   NaN
5.61        68.0  73.0  70.0  70.0  68.0  68.0   NaN   NaN    NaN   NaN
5.64         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
5.65        68.0  68.0  68.0  68.0  68.0  68.0   NaN   NaN    NaN   NaN
5.66         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
5.67         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
5.69         NaN   NaN   NaN   NaN   NaN   NaN  73.0   NaN    NaN   NaN
5.70         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
6.27         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
6.28         NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN
6.33        70.0  70.0  68.0  68.0  68.0  68.0   NaN   NaN    NaN   NaN
6.36        70.0  70.0  70.0  68.0  68.0  68.0   NaN   NaN    NaN   NaN
6.37        70.0  70.0  70.0  68.0  68.0  68.0   NaN   NaN    NaN   NaN
6.40         NaN   NaN  70.0   NaN  68.0  70.0   NaN   NaN    NaN   NaN
7.56        70.0   NaN  68.0  68.0  68.0  68.0   NaN   NaN    NaN   NaN
34.51        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  129.0   NaN
45.50        NaN   NaN   NaN   NaN   NaN   NaN   NaN  71.0    NaN   NaN

In [253]:
# ионное притяжение
table(ionic,total)

gpcr        4ZUD  6OS0  6OS1  6OS2  6TKO
b_factor_x
3.50        69.0  69.0  69.0  69.0  69.0
12.49        NaN   NaN   NaN   NaN  67.0