переименование остатков по номерам

In [23]:
Rs=atoms[atoms['chain_id']=='A'].groupby(by = 'residue_number').first().reset_index()[['residue_number','residue_name','b_factor']]

In [24]:
Rs

    residue_number residue_name  b_factor
0               61          PHE     58.38
1               63          TYR     71.21
2               64          GLY     73.83
3               65          ARG     79.23
4               66          GLU     86.71
5               67          ASP     89.81
6               68          CYS     95.50
7               69          ASP     93.59
8               70          VAL     97.02
9               71          LEU     95.33
10              73          LEU     90.31
11              75          PHE     79.02
12              77          LYS     68.36
13             134          GLU     83.24
14             136          THR     89.11
15             241          ILE     60.15
16             243          LEU     65.81
17             244          PHE     71.49
18             249          TYR     62.12
19             285          ARG     72.40

In [25]:
As=atoms[atoms['chain_id']=='B'].groupby(by = 'residue_number').first().reset_index()[['residue_number','residue_name','b_factor']]

In [26]:
As.add_suffix("_a")

Empty DataFrame
Columns: [residue_number_a, residue_name_a, b_factor_a]
Index: []

In [27]:
outf = out[out['Sum of Value']<6]

In [28]:
outf

    index Column  Sum of Value
74     14      3      5.591224

In [29]:
outf.merge(Rs.add_suffix("_r").reset_index(),on='index').merge(As.reset_index().add_suffix("_a"),left_on='Column',right_on='index_a')

Empty DataFrame
Columns: [index, Column, Sum of Value, residue_number_r, residue_name_r, b_factor_r, index_a, residue_number_a, residue_name_a, b_factor_a]
Index: []