In [67]:
from biopandas.pdb import PandasPdb
import pandas as pd
import numpy

In [72]:
hyd_aci = pd.read_csv('/home/kestr/AT1/data/hydrophobic_acids.csv')

In [69]:
ppdb=PandasPdb().read_pdb('/home/kestr/AT1/pdb/raw/arr/6TKO.pdb')

In [70]:
atoms = ppdb.df['ATOM']

In [82]:
atoms['chain_id']=atoms['chain_id'].replace({'A':'R'}).replace({'B':'A'})

In [88]:
hydrogen_acids = ['ALA','ILE','LEU','MET','PHE','TRP','TYR','VAL']
positive_acids = ['ARG','HIS','LYS']

In [90]:
hyd_aci.merge(atoms[['residue_name','chain_id','residue_number']].drop_duplicates(),left_on=['chain','res'],right_on=['chain_id','residue_number'])

    gpcr   arr  Cluster ID chain  res residue_name chain_id  residue_number
0   6TKO  6TKO           5     A   70          VAL        A              70
1   6TKO  6TKO           5     R   49          ALA        R              49
2   6TKO  6TKO           5     R   52          VAL        R              52
3   6TKO  6TKO           5     R  101          LEU        R             101
4   6TKO  6TKO           5     R  104          ARG        R             104
5   6TKO  6TKO          12     R  112          PHE        R             112
6   6TKO  6TKO          12     R  199          CYS        R             199
7   6TKO  6TKO          12     R  233          GLU        R             233
8   6TKO  6TKO          12     R  235          LYS        R             235
9   6TKO  6TKO          12     R  236          GLU        R             236
10  6TKO  6TKO          12     R  239          ARG        R             239
11  6TKO  6TKO          12     R  282          ALA        R             282
12  6TKO  6TKO          12     R  283          MET        R             283
13  6TKO  6TKO          12     A   71          LEU        A              71
14  6TKO  6TKO          12     A   73          LEU        A              73

In [89]:
hyd_aci.merge(atoms[['residue_name','chain_id','residue_number']].drop_duplicates(),left_on=['chain','res'],right_on=['chain_id','residue_number'])['residue_name'].isin(hydrogen_acids+positive_acids)

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8      True
9     False
10     True
11     True
12     True
13     True
14     True
Name: residue_name, dtype: bool

In [78]:
hyd_aci

    gpcr   arr  Cluster ID chain  res
0   6TKO  6TKO           5     A   70
1   6TKO  6TKO           5     R   49
2   6TKO  6TKO           5     R   52
3   6TKO  6TKO           5     R  101
4   6TKO  6TKO           5     R  104
5   6TKO  6TKO          12     R  112
6   6TKO  6TKO          12     R  199
7   6TKO  6TKO          12     R  233
8   6TKO  6TKO          12     R  235
9   6TKO  6TKO          12     R  236
10  6TKO  6TKO          12     R  239
11  6TKO  6TKO          12     R  282
12  6TKO  6TKO          12     R  283
13  6TKO  6TKO          12     A   71
14  6TKO  6TKO          12     A   73

In [ ]:
def calc_residue_dist(residue_one, residue_two) :
    """Returns the C-alpha distance between two residues"""
    diff_vector  = residue_one["CA"].coord - residue_two["CA"].coord
    return numpy.sqrt(numpy.sum(diff_vector * diff_vector))

def calc_dist_matrix(chain_one, chain_two) :
    """Returns a matrix of C-alpha distances between two chains"""
    answer = numpy.zeros((len(chain_one), len(chain_two)), numpy.float)
    for row, residue_one in enumerate(chain_one) :
        for col, residue_two in enumerate(chain_two) :
            answer[row, col] = calc_residue_dist(residue_one, residue_two)
    return answer

In [57]:
Ns=atoms[atoms['chain_id']=='R'].groupby(by = 'residue_number').first().reset_index()

In [59]:
Ns[['residue_number','residue_name','b_factor']]

     residue_number residue_name  b_factor
0                49          ALA    194.09
1                50          PRO    216.15
2                51          SER    221.08
3                52          SER    233.55
4                53          GLU    228.07
..              ...          ...       ...
307             379          LEU    345.34
308             380          ALA    352.12
309             381          CYS    346.76
310             382          LEU    362.65
311             383          CYS    388.58

[312 rows x 3 columns]

In [60]:
atoms[atoms['chain_id']=='A'].groupby(by = 'residue_number').first().reset_index()[['residue_number','residue_name','b_factor']]

     residue_number residue_name  b_factor
0                 7          ARG    131.23
1                 8          VAL    168.39
2                 9          PHE    157.73
3                10          LYS    166.85
4                11          LYS    191.01
..              ...          ...       ...
345             352          MET    189.55
346             353          HIS    143.60
347             354          PRO    119.21
348             355          LYS     93.44
349             356          PRO     90.62

[350 rows x 3 columns]